<div class="row justify-content-md-center bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
       height: 100vh">

  <div class="container">

    <div class="col-md-6 offset-3" style="margin-top: 20px;">
      <div class="card alert alert-primary">
        <div class="card-body">
          <h5 class="card-title">Welcome: {{ fullName }}</h5>
          <div class="col-md-12 text-left">
              <a routerLink="/history" routerLinkActive="active" class="btn btn-outline-secondary btn-block" style="margin-right: 10px;" role="button">Game Play History</a>
            <button type="submit" class="btn btn-outline-secondary btn-block" style="margin-right: 10px;">Edit
              Profile</button>
            <button (click)="logout()" type="submit" class="btn btn-outline-danger btn-block" style="margin-right: 10px;" id="logout_button">Logout</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 offset-2">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">{{ game_play_status }} </h5>
          <p class="card-text text-center text-info">{{ game_play_message }} </p>
          <div class="text-center">
            <h4>SCORE</h4>
            <h1>{{ playerScore }} - {{ computerScore }}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 offset-3" style="margin-top: 10px;">
      <div class="col-md-12 text-center">
        <a (click)="onPlayGame($event)"><img id ="STONE" class="img-responsive" src="assets/images/rock.png" class="rounded float-center" alt="stone"
          style="margin: 15px;"></a>

          <a (click)="onPlayGame($event)"><img id ="PAPER" class="img-responsive" src="assets/images/paper.png" class="rounded float-center" alt="paper"
          style="margin: 15px;"></a>

          <a (click)="onPlayGame($event)"><img id ="SCISSORS" class="img-responsive" src="assets/images/scissors.png" class="rounded float-center" alt="paper"
          style="margin: 15px;"></a>

      </div>
    </div>
  </div>
</div>
