<div>
  <app-header [pageTitle]="'Stone Paper Scissors Game'" [logoSrc]="'assets/images/logo.png'" />
  <div class="container-fluid">
    <div class="row">
      <div class="col">
	      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<footer class="bg-footer text-center text-lg-start fixed-bottom">
  <div class="container" style="margin-top: 20px;">
    <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Stone Paper Scissors. All Rights Reserved</p>
  </div>
</footer>